@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	scroll-behavior: smooth!important;
}

body{
	font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/


.navbar-logo{
	padding: 15px;
	color: #fff;
}

#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #34A4E8;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

.close-category {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


/* @media only screen and (max-width: 1600px) {
    .h1 {
        background-color: red!important;
    }
} */



@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
	.category {
		width: 95%!important;
	 }
}


	/* footer */

	/* body {
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-areas: "main" "footer";
		overflow-x: hidden;
		background: #000;
		min-height: 100vh;
		font-family: 'Open Sans', sans-serif;
	} */
	
	 .footer {
		width: 99%;
		z-index: 1;
		--footer-background: #34a4e8;
		display: grid;
		position: relative;
		/* grid-area: footer; */
		min-height: 12rem;
	}
	
	 .footer .bubbles {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1rem;
		background: var(--footer-background);
		filter: url("#blob");
	}
	
	 .footer .bubbles .bubble {
		position: absolute;
		left: var(--position, 50%);
		background: var(--footer-background);
		border-radius: 100%;
		animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
		transform: translate(-50%, 100%);
	}
	
	 .footer .content {
		z-index: 2;
		padding: 2rem;
        background: var(--footer-background);
	}
	
	 .footer .content a,  .footer .content p {
		color: #F5F7FA;
		text-decoration: none;
	}
	
	 .footer .content b {
		color: white;
	}
	
	 .footer .content p {
		margin: 0;
		font-size: .75rem;
	}
	
	 .footer .content > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	 .footer .content > div > div {
		margin: 0.25rem 0;
	}
	
	 .footer .content > div > div > * {
		margin-right: .5rem;
	}
	
	 .footer .content > div .image {
		align-self: center;
		width: 4rem;
		height: 4rem;
		margin: 0.25rem 0;
		background-size: cover;
		background-position: center;
	}
	
	@keyframes bubble-size {
		0%, 75% {
			width: var(--size, 4rem);
			height: var(--size, 4rem);
		}
	
		100% {
			width: 0rem;
			height: 0rem;
		}
	}
	
	@keyframes bubble-move {
		0% {
			bottom: -4rem;
		}
	
		100% {
			bottom: var(--distance, 10rem);
		}
	}
	
	.image-footer {
		height: 75%;
		width: 100%;
	}
    
    /* social media */

    /*=========================
  Icons
 ================= */
  
  /* footer social icons */

 
  
  ul.social-network {
    list-style: none;
    display: inline;

  }
  ul.social-network li {
    display: inline;
	margin: 0 10px;
  }
  
  /* footer social icons */
  .social-network a.icoFacebook:hover {
    background-color: #3b5998;
  }
  .social-network a.icoTwitter:hover {
    background-color: #33ccff;
  }
  .social-network a.icoMedium:hover {
    background-color: #00ab6c;
  }
  .social-network a.icoQuora:hover {
    background-color: #aa2200;
  }
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  .social-network a.icoInstagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }
  
  .social-network a.icoRss:hover i,
  .social-network a.icoFacebook:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoMedium:hover i,
  .social-network a.icoVimeo:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
	font-size: 22px;
	background-color: black;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 60px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-circle a {
    background-color: #ccd8ea;
  }
  
  @media screen and (max-width: 500px) {
    ul.social-network li {
      display: inline;
      margin: 0 5px;
    }
  }
  @media screen and (max-width: 450px) {
    ul.social-network li {
      display: inline;
      margin: 0 5px;
      float: center;
    }
  
    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 20px auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  
    .social-circle li i {
      margin: 0;
      line-height: 40px;
      text-align: center;
    }

    .copyright {
        text-align: center;
	}
	
	.image-footer {
		margin: -11px 84px;
    	padding: 61px 0;
		width: 55%!important;
		height: 145%!important;
	}

	.footer {
		text-align: center;
	}
  }

  @media screen and (max-width: 350px) {
    ul.social-network li {
      display: inline;
      margin: 0 2px;
    }
  
    .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 20px auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 35px;
      height: 40px;
      font-size: 16px;
    }
  
    .social-circle li i {
      margin: 0;
      line-height: 40px;
      text-align: center;
    }
    
    .copyright {
        text-align: center;
    }
  }
  