@media only screen and (min-width: 1225px) {
    .container-fluid .card5 {
      max-width: 32%!important;
      margin: 0.2%!important;
    }      
}

@media only screen and (max-width: 1220px) {
    .container-fluid .card5 {
      max-width: 48%!important;
      margin: 0.2%!important;
    }

    .container {
      /* background-color: red!important; */
      max-width: 100%!important;
      margin: 1%!important;
      padding: 1%!important;
    }

    .detail .row {
      margin: 1%!important;
    }

    .detail .card1 {
      border-radius: 11px;
    }
}

@media only screen and (max-width: 720px) {
    .container-fluid .card5 {
      max-width: 100%!important;
      margin: 1% 5%!important;
    }
}


.profile {
    margin: 62px 0;
}

.header-image {
    height: 325px;
    background-size: cover;
}

img:nth-child(2) {
    width: 20%;
    margin: -50% 0;
    border: 5px solid white;
}

.i {
    opacity: 0;
    font-size: 18px;
    color: #fff;
    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.card1 h2 {
    pointer-events: none;
}

.container .card1 {
    position: relative;
    width: 49%!important;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    /* margin: 10px; */
    box-shadow: 0px 1px 17px -9px black;
}

.container .card1:hover {
    box-shadow: 3px 5px 28px -8px black;
 }

.container .card1:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;

}

.container .card1:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #E6E5E1;
}

.container .card1 ul {
    z-index: 99;
    position: absolute;
    left: 39px;
    top: 5px;
    list-style-type: none;
}

.container .card1 ul li {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    margin: 6px 0;
    background-color: #E6E5E1;
}

.container .card1 h2 {
    z-index: 99;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom: 0;
    right: 130px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.container .card1 .fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 75px;
    bottom: 25px;
    font-size: 40px;
    cursor: pointer;
}

.container .card1 p {
    z-index: 99;
    position: absolute;
    top: 20px;
    right: 70px;
    color: #333;
    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.container .card1 .pic {
    z-index: 0;
    width: 84%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
    background-size: 100% 100%;
    filter: grayscale(100%);
}

.container .card1 .social {
    position: absolute;
    left: 60px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    height: 64px;
    border-radius: 80px;
}

.container .card1 .social i:nth-of-type(1) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.container .card1 .social i:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.container .card1 .social i:nth-of-type(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.container .card1 .social i:nth-of-type(4) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.container .card1:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container .card1 button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: #DA4D1D;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    mix-blend-mode: hard-light;
}

.container .card1 button i {
    font-size: 3rem;
}

.container .card1:hover button {
    transform: scale(16.5);
}

.container .card1:hover p {
    color: #fff;
}

.container .card1:hover .pic {
    filter: grayscale(0);
}


/* .container .card2 .pic {
    background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}

.container .card2 button {
    background-color: #2b26c3;
} */

.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 100px;
}

/* card all post  */

.card5 {
    /* background: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: flex;
    max-width: 100%!important;
    height: 275px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /* wawy svg */
  }

  .card5 .movie_image .movie_poster {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  .card5 .center {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    vertical-align: center;
    position: relative;
    z-index: 99;
  }
  @media (max-width: 520px) {
    .card5 {
      height: auto;
    }
    .card5 .center {
      padding: 10px 0px;
    }
  }
  .card5 .about_movie {
    flex-basis: 100%;
    padding: 0px 10px;
    position: relative;
    z-index: 99;
  }
  @media (max-width: 520px) {
    .card5 .about_movie {
      -webkit-box-align: center;
              align-items: center;
      text-align: center;
    }
  }
  .card5 .about_movie h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
  }
  .card5 .about_movie .movie_info {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media (max-width: 520px) {
    .card5 .about_movie .movie_info {
      justify-content: space-around;
    }
  }
  .card5 .about_movie .movie_desc {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 25px;
    color: white;
    position: relative;
    z-index: 99;
  }
  .card5 .wavy {
    position: absolute;
    bottom: calc(0px);
    fill: #6250ff;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 0;
  }
  .card5 .watch {
    position: relative;
    z-index: 99;
    background: rgba(255, 255, 255, 1);
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .card5 .watch:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .card5 .watch svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    fill: #fff;
  }
  .card5 .watchlist {
    position: relative;
    z-index: 99;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .card5 .watchlist:hover {
    color: white;
  }
  .card5 .watchlist svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    fill: white;
  }