/* header  */

/* Panels. */

.header {
    margin: 6% 1%;
}

.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 39px -14px rgba(100, 0, 90, 0.20);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

.bottom .description {
    right: 5%;
}

.top {
    background-color: #34A4E8;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.top .description {
    left: 5%;
}

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

/* content header  */

/* content 1  */

.walkthrough {
    margin: 3% 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 5%;
    display: none;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    height: 464px;
    overflow: hidden;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 270px;
    z-index: 1000;
}

.walkthrough.show {
    display: flex;
    opacity: 1;
    transform: translateY(72px);
}

.walkthrough.reveal {
    opacity: 1;
    transform: translateY(0);
}

.walkthrough .walkthrough-body {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: center;
}

.walkthrough .walkthrough-body .prev-screen,
.walkthrough .walkthrough-body .next-screen {
    align-self: stretch;
    background: none;
    border: 0;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 24px;
    opacity: 1;
    outline: none;
    padding: 16px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000 !important;
}

.walkthrough .walkthrough-body .prev-screen:hover,
.walkthrough .walkthrough-body .prev-screen:active,
.walkthrough .walkthrough-body .next-screen:hover,
.walkthrough .walkthrough-body .next-screen:active {
    color: white;
    transform-origin: center;
    transform: scale(1.25);
    opacity: 1;
}

.walkthrough .walkthrough-body .prev-screen:disabled,
.walkthrough .walkthrough-body .next-screen:disabled {
    opacity: 0;
}

.walkthrough .walkthrough-body .prev-screen {
    order: 1;
}

.walkthrough .walkthrough-body .next-screen {
    order: 3;
}

.walkthrough .walkthrough-body .screens {
    flex: 1;
    align-self: stretch;
    position: relative;
    margin: 0 -16px;
    padding: 0;
    order: 2;
}

.walkthrough .walkthrough-body .screens .screen {
    position: absolute;
    list-style-type: none;
}

.walkthrough .walkthrough-body .media {
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 132px;
    height: 132px;
    margin: 32px auto;
    width: 132px;
}

.walkthrough .walkthrough-body h3 {
    font-size: 15px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.walkthrough .walkthrough-body p {
    line-height: 1.6em;
    font-size: 13px;
    margin-top: 16px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.8);
}

.walkthrough .walkthrough-pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.walkthrough .walkthrough-pagination .dot {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 8px;
    margin: 0 4px;
    transform: scale(0.75);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 8px;
}

.walkthrough .walkthrough-pagination .dot.active {
    background: white;
    transform: scale(1);
    transition-delay: 0.4s;
}

.walkthrough .screens {
    margin: 0;
}

.walkthrough .screens .media .status-badge {
    left: 136px;
    opacity: 0;
    position: absolute;
    top: 104px;
    transform: scale(0);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.6s;
}

.walkthrough .screens .media .status-badge i {
    display: inline;
}

.walkthrough .screens .media.logo .logo {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;
}

.walkthrough .screens .media .icon {
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 132px;
    left: 48px;
    top: 32px;
}

.walkthrough .screens .media.bars .icon {
    transform: translate(40px, 20px);
}

.walkthrough .screens .media.bars .icon:nth-of-type(2) {
    transform: scale(0.25);
    transform-origin: 30% 54%;
}

.walkthrough .screens .media.bars .icon:nth-of-type(3) {
    transform: scale(0.25);
    transform-origin: 30% 40%;
}

.walkthrough .screens .media.bars .icon:nth-of-type(4) {
    transform: scale(0.25);
    transform-origin: 30% 26%;
}

.walkthrough .screens .media.files .icon {
    transform: translate(40px, 20px);
}

.walkthrough .screens .media.comm .icon {
    transform: scale(0.25);
    transform-origin: 29% 73%;
}

.walkthrough .screens .media.comm .icon:nth-child(2) {
    transform-origin: 66% 85%;
}

.walkthrough .screens .screen {
    opacity: 0;
    position: absolute;
    transform: translateX(-72px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.walkthrough .screens .screen.active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
}

.walkthrough .screens .screen.active~.screen {
    opacity: 0;
    transform: translateX(72px);
}

.walkthrough .screens .screen.active .media .status-badge {
    opacity: 1;
    transform: scale(1.75);
}

.walkthrough .screens .screen.active .media.logo .logo {
    opacity: 0.8;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough .screens .screen.active .media.logo .status-badge {
    transition-delay: 1s;
}

.walkthrough .screens .screen.active .media.books .icon {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough .screens .screen.active .media.books .icon:nth-child(2) {
    transition-delay: 0.725s;
}

.walkthrough .screens .screen.active .media.books .icon:nth-child(3) {
    transition-delay: 0.850s;
}

.walkthrough .screens .screen.active .media.books .status-badge {
    transition-delay: 1.4s;
}

.walkthrough .screens .screen.active .media.bars .icon {
    opacity: 1;
    transform: translate(0) scale(1);
    transition-delay: 0.6s;
}

.walkthrough .screens .screen.active .media.bars .icon:nth-child(2) {
    transition-delay: 1.050s;
}

.walkthrough .screens .screen.active .media.bars .icon:nth-child(3) {
    transition-delay: 0.925s;
}

.walkthrough .screens .screen.active .media.bars .icon:nth-child(4) {
    transition-delay: 0.8s;
}

.walkthrough .screens .screen.active .media.files .icon {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}

.walkthrough .screens .screen.active .media.files .icon:nth-child(3) {
    transition-delay: 0.8s;
}

.walkthrough .screens .screen.active .media.files .icon:nth-child(2) {
    transition-delay: 0.7s;
}

.walkthrough .screens .screen.active .media.files .icon:nth-child(1) {
    transition-delay: 0.6s;
}

.walkthrough .screens .screen.active .media.files .status-badge {
    transition-delay: 1.6s;
}

.walkthrough .screens .screen.active .media.comm .icon {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.6s;
}

.walkthrough .screens .screen.active .media.comm .icon:nth-child(2) {
    transition-delay: 0.8s;
}

.walkthrough .screens .screen.active .media.comm .status-badge {
    transition-delay: 1.6s;
}

/* content 2  */


.walkthrough_1 {
    margin: 3% 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 5%;
    display: none;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    height: 464px;
    overflow: hidden;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 270px;
    z-index: 1000;
}

.walkthrough_1.show_1 {
    display: flex;
    opacity: 1;
    transform: translateY(72px);
}

.walkthrough_1.reveal_1 {
    opacity: 1;
    transform: translateY(0);
}

.walkthrough_1 .walkthrough-body_1 {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: center;
}

.walkthrough_1 .walkthrough-body_1 .prev-screen_1,
.walkthrough_1 .walkthrough-body_1 .next-screen_1 {
    align-self: stretch;
    background: none;
    border: 0;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 24px;
    opacity: 1;
    outline: none;
    padding: 16px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000 !important;
}

.walkthrough_1 .walkthrough-body_1 .prev-screen_1:hover,
.walkthrough_1 .walkthrough-body_1 .prev-screen_1:active,
.walkthrough_1 .walkthrough-body_1 .next-screen_1:hover,
.walkthrough_1 .walkthrough-body_1 .next-screen_1:active {
    color: white;
    transform-origin: center;
    transform: scale(1.25);
    opacity: 1;
}

.walkthrough_1 .walkthrough-body_1 .prev-screen_1:disabled,
.walkthrough_1 .walkthrough-body_1 .next-screen_1:disabled {
    opacity: 0;
}

.walkthrough_1 .walkthrough-body_1 .prev-screen_1 {
    order: 1;
}

.walkthrough_1 .walkthrough-body_1 .next-screen_1 {
    order: 3;
}

.walkthrough_1 .walkthrough-body_1 .screens_1 {
    flex: 1;
    align-self: stretch;
    position: relative;
    margin: 0 _16px;
    padding: 0;
    order: 2;
}

.walkthrough_1 .walkthrough-body_1 .screens_1 .screen_1 {
    position: absolute;
    list-style-type: none;
}

.walkthrough_1 .walkthrough-body_1 .media_1 {
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 132px;
    height: 132px;
    margin: 32px auto;
    width: 132px;
}

.walkthrough_1 .walkthrough-body_1 h3 {
    font-size: 15px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.walkthrough_1 .walkthrough-body_1 p {
    line-height: 1.6em;
    font-size: 13px;
    margin-top: 16px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.8);
}

.walkthrough_1 .walkthrough-pagination_1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.walkthrough_1 .walkthrough-pagination_1 .dot_1 {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 8px;
    margin: 0 4px;
    transform: scale(0.75);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 8px;
}

.walkthrough_1 .walkthrough-pagination_1 .dot_1.active_1 {
    background: white;
    transform: scale(1);
    transition-delay: 0.4s;
}

.walkthrough_1 .screens_1 {
    margin: 0;
}

.walkthrough_1 .screens_1 .media_1 .status-badge_1 {
    left: 136px;
    opacity: 0;
    position: absolute;
    top: 104px;
    transform: scale(0);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .media_1 .status-badge_1 i {
    display: inline;
}

.walkthrough_1 .screens_1 .media_1.logo_1 .logo_1 {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;
}

.walkthrough_1 .screens_1 .media_1 .icon_1 {
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 132px;
    left: 48px;
    top: 32px;
}

.walkthrough_1 .screens_1 .media_1.bars_1 .icon_1 {
    transform: translate(40px, 20px);
}

.walkthrough_1 .screens_1 .media_1.bars_1 .icon_1:nth-of-type(2) {
    transform: scale(0.25);
    transform-origin: 30% 54%;
}

.walkthrough_1 .screens_1 .media_1.bars_1 .icon_1:nth-of-type(3) {
    transform: scale(0.25);
    transform-origin: 30% 40%;
}

.walkthrough_1 .screens_1 .media_1.bars_1 .icon_1:nth-of-type(4) {
    transform: scale(0.25);
    transform-origin: 30% 26%;
}

.walkthrough_1 .screens_1 .media_1.files_1 .icon_1 {
    transform: translate(40px, 20px);
}

.walkthrough_1 .screens_1 .media_1.comm_1 .icon_1 {
    transform: scale(0.25);
    transform-origin: 29% 73%;
}

.walkthrough_1 .screens_1 .media_1.comm_1 .icon_1:nth-child(2) {
    transform-origin: 66% 85%;
}

.walkthrough_1 .screens_1 .screen_1 {
    opacity: 0;
    z-index: 100;
    position: absolute;
    transform: translateX(-72px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.walkthrough_1 .screens_1 .screen_1.active_1 {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
}

.walkthrough_1 .screens_1 .screen_1.active_1~.screen_1 {
    opacity: 0;
    transform: translateX(72px);
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1 .status-badge_1 {
    opacity: 1;
    transform: scale(1.75);
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.logo_1 .logo_1 {
    opacity: 0.8;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.logo_1 .status-badge_1 {
    transition-delay: 1s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.books_1 .icon_1 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.books_1 .icon_1:nth-child(2) {
    transition-delay: 0.725s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.books_1 .icon_1:nth-child(3) {
    transition-delay: 0.850s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.books_1 .status-badge_1 {
    transition-delay: 1.4s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.bars_1 .icon_1 {
    opacity: 1;
    transform: translate(0) scale(1);
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.bars_1 .icon_1:nth-child(2) {
    transition-delay: 1.050s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.bars_1 .icon_1:nth-child(3) {
    transition-delay: 0.925s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.bars_1 .icon_1:nth-child(4) {
    transition-delay: 0.8s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.files_1 .icon_1 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.files_1 .icon_1:nth-child(3) {
    transition-delay: 0.8s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.files_1 .icon_1:nth-child(2) {
    transition-delay: 0.7s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.files_1 .icon_1:nth-child(1) {
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.files_1 .status-badge_1 {
    transition-delay: 1.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.comm_1 .icon_1 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.6s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.comm_1 .icon_1:nth-child(2) {
    transition-delay: 0.8s;
}

.walkthrough_1 .screens_1 .screen_1.active_1 .media_1.comm_1 .status-badge_1 {
    transition-delay: 1.6s;
}


/* content 3  */


.walkthrough_2 {
    margin: 3% 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 5%;
    display: none;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    height: 464px;
    overflow: hidden;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 270px;
    z-index: 1000;
}

.walkthrough_2.show_2 {
    display: flex;
    opacity: 1;
    transform: translateY(72px);
}

.walkthrough_2.reveal_2 {
    opacity: 1;
    transform: translateY(0);
}

.walkthrough_2 .walkthrough-body_2 {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: center;
}

.walkthrough_2 .walkthrough-body_2 .prev-screen_2,
.walkthrough_2 .walkthrough-body_2 .next-screen_2 {
    align-self: stretch;
    background: none;
    border: 0;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 24px;
    opacity: 1;
    outline: none;
    padding: 16px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000 !important;
}

.walkthrough_2 .walkthrough-body_2 .prev-screen_2:hover,
.walkthrough_2 .walkthrough-body_2 .prev-screen_2:active,
.walkthrough_2 .walkthrough-body_2 .next-screen_2:hover,
.walkthrough_2 .walkthrough-body_2 .next-screen_2:active {
    color: white;
    transform-origin: center;
    transform: scale(1.25);
    opacity: 1;
}

.walkthrough_2 .walkthrough-body_2 .prev-screen_2:disabled,
.walkthrough_2 .walkthrough-body_2 .next-screen_2:disabled {
    opacity: 0;
}

.walkthrough_2 .walkthrough-body_2 .prev-screen_2 {
    order: 1;
}

.walkthrough_2 .walkthrough-body_2 .next-screen_2 {
    order: 3;
}

.walkthrough_2 .walkthrough-body_2 .screens_2 {
    flex: 1;
    align-self: stretch;
    position: relative;
    margin: 0 _26px;
    padding: 0;
    order: 2;
}

.walkthrough_2 .walkthrough-body_2 .screens_2 .screen_2 {
    position: absolute;
    list-style-type: none;
}

.walkthrough_2 .walkthrough-body_2 .media_2 {
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 132px;
    height: 132px;
    margin: 32px auto;
    width: 132px;
}

.walkthrough_2 .walkthrough-body_2 h3 {
    font-size: 15px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.walkthrough_2 .walkthrough-body_2 p {
    line-height: 1.6em;
    font-size: 13px;
    margin-top: 16px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.8);
}

.walkthrough_2 .walkthrough-pagination_2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.walkthrough_2 .walkthrough-pagination_2 .dot_2 {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 8px;
    margin: 0 4px;
    transform: scale(0.75);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 8px;
}

.walkthrough_2 .walkthrough-pagination_2 .dot_2.active_2 {
    background: white;
    transform: scale(1);
    transition-delay: 0.4s;
}

.walkthrough_2 .screens_2 {
    margin: 0;
}

.walkthrough_2 .screens_2 .media_2 .status-badge_2 {
    left: 136px;
    opacity: 0;
    position: absolute;
    top: 104px;
    transform: scale(0);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .media_2 .status-badge_2 i {
    display: inline;
}

.walkthrough_2 .screens_2 .media_2.logo_2 .logo_2 {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;
}

.walkthrough_2 .screens_2 .media_2 .icon_2 {
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 132px;
    left: 48px;
    top: 32px;
}

.walkthrough_2 .screens_2 .media_2.bars_2 .icon_2 {
    transform: translate(40px, 20px);
}

.walkthrough_2 .screens_2 .media_2.bars_2 .icon_2:nth-of-type(2) {
    transform: scale(0.25);
    transform-origin: 30% 54%;
}

.walkthrough_2 .screens_2 .media_2.bars_2 .icon_2:nth-of-type(3) {
    transform: scale(0.25);
    transform-origin: 30% 40%;
}

.walkthrough_2 .screens_2 .media_2.bars_2 .icon_2:nth-of-type(4) {
    transform: scale(0.25);
    transform-origin: 30% 26%;
}

.walkthrough_2 .screens_2 .media_2.files_2 .icon_2 {
    transform: translate(40px, 20px);
}

.walkthrough_2 .screens_2 .media_2.comm_2 .icon_2 {
    transform: scale(0.25);
    transform-origin: 29% 73%;
}

.walkthrough_2 .screens_2 .media_2.comm_2 .icon_2:nth-child(2) {
    transform-origin: 66% 85%;
}

.walkthrough_2 .screens_2 .screen_2 {
    opacity: 0;
    z-index: 100;
    position: absolute;
    transform: translateX(-72px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.walkthrough_2 .screens_2 .screen_2.active_2 {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
}

.walkthrough_2 .screens_2 .screen_2.active_2~.screen_2 {
    opacity: 0;
    transform: translateX(72px);
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2 .status-badge_2 {
    opacity: 1;
    transform: scale(1.75);
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.logo_2 .logo_2 {
    opacity: 0.8;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.logo_2 .status-badge_2 {
    transition-delay: 1s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.books_2 .icon_2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.books_2 .icon_2:nth-child(2) {
    transition-delay: 0.725s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.books_2 .icon_2:nth-child(3) {
    transition-delay: 0.850s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.books_2 .status-badge_2 {
    transition-delay: 1.4s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.bars_2 .icon_2 {
    opacity: 1;
    transform: translate(0) scale(1);
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.bars_2 .icon_2:nth-child(2) {
    transition-delay: 1.050s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.bars_2 .icon_2:nth-child(3) {
    transition-delay: 0.925s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.bars_2 .icon_2:nth-child(4) {
    transition-delay: 0.8s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.files_2 .icon_2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.files_2 .icon_2:nth-child(3) {
    transition-delay: 0.8s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.files_2 .icon_2:nth-child(2) {
    transition-delay: 0.7s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.files_2 .icon_2:nth-child(1) {
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.files_2 .status-badge_2 {
    transition-delay: 1.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.comm_2 .icon_2 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.6s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.comm_2 .icon_2:nth-child(2) {
    transition-delay: 0.8s;
}

.walkthrough_2 .screens_2 .screen_2.active_2 .media_2.comm_2 .status-badge_2 {
    transition-delay: 1.6s;
}



/* content 4  */


.walkthrough_3 {
    margin: 3% 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 5%;
    display: none;
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 14px;
    height: 464px;
    overflow: hidden;
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 270px;
    z-index: 1000;
}

.walkthrough_3.show_3 {
    display: flex;
    opacity: 1;
    transform: translateY(72px);
}

.walkthrough_3.reveal_3 {
    opacity: 1;
    transform: translateY(0);
}

.walkthrough_3 .walkthrough-body_3 {
    align-items: center;
    display: flex;
    flex: 1;
    text-align: center;
}

.walkthrough_3 .walkthrough-body_3 .prev-screen_3,
.walkthrough_3 .walkthrough-body_3 .next-screen_3 {
    align-self: stretch;
    background: none;
    border: 0;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 24px;
    opacity: 1;
    outline: none;
    padding: 16px;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000 !important;
}

.walkthrough_3 .walkthrough-body_3 .prev-screen_3:hover,
.walkthrough_3 .walkthrough-body_3 .prev-screen_3:active,
.walkthrough_3 .walkthrough-body_3 .next-screen_3:hover,
.walkthrough_3 .walkthrough-body_3 .next-screen_3:active {
    color: white;
    transform-origin: center;
    transform: scale(1.25);
    opacity: 1;
}

.walkthrough_3 .walkthrough-body_3 .prev-screen_3:disabled,
.walkthrough_3 .walkthrough-body_3 .next-screen_3:disabled {
    opacity: 0;
}

.walkthrough_3 .walkthrough-body_3 .prev-screen_3 {
    order: 1;
}

.walkthrough_3 .walkthrough-body_3 .next-screen_3 {
    order: 3;
}

.walkthrough_3 .walkthrough-body_3 .screens_3 {
    flex: 1;
    align-self: stretch;
    position: relative;
    margin: 0 _36px;
    padding: 0;
    order: 2;
}

.walkthrough_3 .walkthrough-body_3 .screens_3 .screen_3 {
    position: absolute;
    list-style-type: none;
}

.walkthrough_3 .walkthrough-body_3 .media_3 {
    background: linear-gradient(to right bottom, #9e66c6, #6027e1);
    border-radius: 132px;
    height: 132px;
    margin: 32px auto;
    width: 132px;
}

.walkthrough_3 .walkthrough-body_3 h3 {
    font-size: 15px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.walkthrough_3 .walkthrough-body_3 p {
    line-height: 1.6em;
    font-size: 13px;
    margin-top: 16px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.8);
}

.walkthrough_3 .walkthrough-pagination_3 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.walkthrough_3 .walkthrough-pagination_3 .dot_3 {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 8px;
    margin: 0 4px;
    transform: scale(0.75);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 8px;
}

.walkthrough_3 .walkthrough-pagination_3 .dot_3.active_3 {
    background: white;
    transform: scale(1);
    transition-delay: 0.4s;
}

.walkthrough_3 .screens_3 {
    margin: 0;
}

.walkthrough_3 .screens_3 .media_3 .status-badge_3 {
    left: 136px;
    opacity: 0;
    position: absolute;
    top: 104px;
    transform: scale(0);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .media_3 .status-badge_3 i {
    display: inline;
}

.walkthrough_3 .screens_3 .media_3.logo_3 .logo_3 {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(-60px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 80px;
}

.walkthrough_3 .screens_3 .media_3 .icon_3 {
    position: absolute;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 132px;
    left: 48px;
    top: 32px;
}

.walkthrough_3 .screens_3 .media_3.bars_3 .icon_3 {
    transform: translate(40px, 20px);
}

.walkthrough_3 .screens_3 .media_3.bars_3 .icon_3:nth-of-type(2) {
    transform: scale(0.25);
    transform-origin: 30% 54%;
}

.walkthrough_3 .screens_3 .media_3.bars_3 .icon_3:nth-of-type(3) {
    transform: scale(0.25);
    transform-origin: 30% 40%;
}

.walkthrough_3 .screens_3 .media_3.bars_3 .icon_3:nth-of-type(4) {
    transform: scale(0.25);
    transform-origin: 30% 26%;
}

.walkthrough_3 .screens_3 .media_3.files_3 .icon_3 {
    transform: translate(40px, 20px);
}

.walkthrough_3 .screens_3 .media_3.comm_3 .icon_3 {
    transform: scale(0.25);
    transform-origin: 29% 73%;
}

.walkthrough_3 .screens_3 .media_3.comm_3 .icon_3:nth-child(2) {
    transform-origin: 66% 85%;
}

.walkthrough_3 .screens_3 .screen_3 {
    opacity: 0;
    z-index: 100;
    position: absolute;
    transform: translateX(-72px);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.walkthrough_3 .screens_3 .screen_3.active_3 {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition-delay: 0.4s;
}

.walkthrough_3 .screens_3 .screen_3.active_3~.screen_3 {
    opacity: 0;
    transform: translateX(72px);
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3 .status-badge_3 {
    opacity: 1;
    transform: scale(1.75);
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.logo_3 .logo_3 {
    opacity: 0.8;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.logo_3 .status-badge_3 {
    transition-delay: 1s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.books_3 .icon_3 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.books_3 .icon_3:nth-child(2) {
    transition-delay: 0.725s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.books_3 .icon_3:nth-child(3) {
    transition-delay: 0.850s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.books_3 .status-badge_3 {
    transition-delay: 1.4s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.bars_3 .icon_3 {
    opacity: 1;
    transform: translate(0) scale(1);
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.bars_3 .icon_3:nth-child(2) {
    transition-delay: 1.050s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.bars_3 .icon_3:nth-child(3) {
    transition-delay: 0.925s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.bars_3 .icon_3:nth-child(4) {
    transition-delay: 0.8s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.files_3 .icon_3 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.files_3 .icon_3:nth-child(3) {
    transition-delay: 0.8s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.files_3 .icon_3:nth-child(2) {
    transition-delay: 0.7s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.files_3 .icon_3:nth-child(1) {
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.files_3 .status-badge_3 {
    transition-delay: 1.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.comm_3 .icon_3 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.6s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.comm_3 .icon_3:nth-child(2) {
    transition-delay: 0.8s;
}

.walkthrough_3 .screens_3 .screen_3.active_3 .media_3.comm_3 .status-badge_3 {
    transition-delay: 1.6s;
}

/* btn share sosmed */
/* 
#share-sossial-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
} */


